


.footer {
    padding-left: 18.563rem;
    background-color: $white;
    @include respond('laptop'){
		padding-left: 17rem;
	}
    .copyright {
        padding: 0.9375rem;
		background-color: $body-bg;
		
        p {
            text-align: center;
            margin: 0;
        }

        a{
            color: var(--primary);
        }
		@include custommq($min: 991px) {
			border-radius:0 0 0 50px;
		}
    }
}


